<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Email</td>
        <td>Action</td>
    </tr>


    {% for i in users %}

    <tr>
        <td>{{ i.username }}</td>
        <td>{{ i.age }}</td>
        <td>{{ i.email }}</td>
        <td>
            <a href="/05-update?id={{i.id}}">修改</a>
            <a href="/06-delete?id={{i.id}}">删除</a>
        </td>
    </tr>

    {% endfor %}


</table>

</body>
</html>