<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/05-update" method="post">

        <p>
            姓名:<input type="text" name="uname" value="{{ user.username }}">
            <input type="hidden" name="id" value="{{ user.id }}">
        </p>
        <P>
            年龄:<input type="number" name="uage" value="{{ user.age }}">
        </P>
        <P>
            Email:<input type="email" name="email" value="{{ user.email }}">
        </P>
        <p>
            <input type="submit" value="submit">
        </p>
    </form>

</body>
</html>