<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>过滤器示例:</h1>
    <h2>
        <p>capitalize</p>
        <p>
            {{title|capitalize}}
        </p>
    </h2>
    <h2>
        <p>upper</p>
        <p>
            {{title|upper}}
        </p>
    </h2>
    <h2>
        <p>lower</p>
        <p>
            {{title|lower}}
        </p>
    </h2>
     <h2>
        <p>title</p>
        <p>
            {{title|title}}
        </p>
    </h2>

</body>
</html>