<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--{% if age>30 %}-->
        <!--<h1>中年人</h1>-->
    <!--{% elif age < 30 %}-->
        <!--<h1>青年人</h1>-->
    <!--{% endif %}-->
<!--
判断视图中有没有传递过来一个Uname的变量
    有的话,则输出 欢迎: xxx(uname)
    没有的话 输出 : 请登录

-->

    <!--{% if not uname %}-->
        <!--<h1>请登录</h1>-->
    <!--{% else %}-->
        <!--<h1>欢迎:{{uname}}</h1>-->
    <!--{% endif %}-->

    {% if age <= 30 %}
    <p>青年人</p>
    {% elif age > 60 %}
    <p> 老年人</p>
    {% else %}
    <p>中年人</p>
    {% endif %}
</body>
</html>